*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
  background-image: url('../img/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;


}
.egg{
    height: 70px;
    width: 70px;
 background-image: url('../img/egg.png');
   background-size:cover ;
    position: absolute;
    padding: 0px;
  margin: 0px;
} 



